<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>阿星的electron编译页面</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <script src="//unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        #app {
            display: flex;
            flex: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <p>这里是阿星的electron构建测试页面</p>
        <p>啥限制也没做，希望大佬们不要测试异常输入和频繁点击，谢谢</p>
        <el-form ref="form" :model="form" label-width="180px">
            <el-form-item label="客户端需要打包的url地址:">
                <el-input v-model="form.url" placeholder="https://www.baidu.com"></el-input>
            </el-form-item>
            <el-form-item label="客户端名称:">
                <el-input v-model="form.name" placeholder="XX助手"></el-input>
            </el-form-item>
            <el-form-item label="客户端appid:">
                <el-input v-model="form.appid" placeholder="com.apple.aaa"></el-input>
            </el-form-item>
        </el-form>
        <el-button type="primary" @click="submit">确认提交</el-button>
        <a v-if="build" href="https://github.com/XingXiaoWu/electron/actions">点击前往查看构建进度</a>
        <p v-if="build">其他需求可联系VX：329106954</p>
    </div>

    <script>
        // 加密压缩
        const App = {
            data() {
                return {
                    form: {
                        url: "",
                        name: "",
                        appid: ""
                    },
                    build: false
                }
            },
            methods: {
                submit() {
                    // 大哥，都是干开发的，看到这行注释，麻烦就不要用这个token了，给条活路
                    const site = /^(((ht|f)tps?):\/\/)?[\w-]+(\.[\w-]+)+([\w.,@?^=%&:/~+#-\(\)]*[\w@?^=%&/~+#-\(\)])?$/
                    if (!new RegExp(site).test(this.form.url)) {
                        this.$message.error('地址不对,请输入正确的地址')
                        return
                    }
                    const tmp1 = 'ghp_MNG2Dzbzq1';
                    const tmp2 = 'iH6ya1lWeqRi9b'
                    const tmp3 = '0ktOOX1jKnyU';
                    axios({
                        method: 'post',
                        url: 'https://api.github.com/repos/XingXiaoWu/electron/dispatches',
                        headers: {
                            'Accept': 'application/vnd.github.everest-preview+json',
                            'Authorization': 'token ' + tmp1 + tmp2 + tmp3,
                        },
                        data: {
                            'event_type': "remotebuild",
                            'client_payload': {
                                'url': this.form.url,
                                'name': this.form.name,
                                'appid': this.form.appid
                            }
                        }
                    }).then(() => {
                        this.build = true
                        this.$message.success('请求发送成功')
                    }).catch(() => {
                        this.$message.error('构建失败，请联系329106954@qq.com查看原因')
                    })
                }
            }
        };
        const app = Vue.createApp(App);
        app.use(ElementPlus);
        app.mount('#app');
    </script>
</body>

</html>